.cart-items *.right {
  text-align: left;
}
.cart-items td {
  text-align: right;
}
@media screen and (min-width: 750px) {
  .cart-items th + th {
    padding-left: 0;
    padding-right: 4rem;
  }
  .cart-item > td + td {
    padding-left: 0;
    padding-right: 4rem;
  }
  .cart__footer > * + * {
    margin-left: 0;
    margin-right: 4rem;
  }
  .totals {
    justify-content: flex-start;
  }
  td.cart-item__quantity {
    justify-content: flex-end;
  }
  .cart-item cart-remove-button {
    margin: 0.5rem 1.5rem 0 0;
  }
  th.product__title--cart-items {
    text-align: right;
  }
}
.shipping__calculator--title svg {
  margin-left: 0;
  margin-right: 10px;
}
@media screen and (min-width: 990px) {
  .cart-item .cart-item__quantity,
  .cart-items .cart-items__heading--wide {
    padding-left: 0;
    padding-right: 6rem;
  }
}
