@media only screen and (min-width: 992px) {
  .text__with--icons-grid-3
    .text__with--icons-single--item
    + .text__with--icons-single--item:before {
    right: -7.5rem;
    left: auto;
  }
}
@media only screen and (min-width: 750px) {
  .text__with--icons-grid-4
    .text__with--icons-single--item
    + .text__with--icons-single--item:before {
    left: auto;
    right: -2.5rem;
  }
}
